
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('/w3images/parallax1.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/w3images/parallax2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url('hero-slider_3.jpg');
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;

  margin: auto;
  text-align: center;
  font-family: arial;
  height: 400px;

}


h3{

  font-size:50px;
  color: #003580;
}

h6{

  font-size:20px;
}
.pchange{
 color:#0071c2;
}
p{
 font-size:15px;
}
.boxc {
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 2em;
  /*padding: .10em;
  */
float:left;
margin : 2px;
 display: flex;

}
.cadre {
 display: flex;
}
.price {
  color: grey;
  font-size: 22px;
}
.box {
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 2em;
  /*padding: .10em;
  */
  /*
float:left;
margin : 5px;
*/
left : 490px;
     position: absolute;

     top: 600px;
     height:90%;
}
.sun {
    display : inline-block;
       vertical-align : top;


}
.box :first-child {
    align-self: center;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
}

.card button:hover {
  opacity: 0.7;
}

.mall-slide {
    position: absolute;
    top: 180px;
    background-color: white;
    width: 40%;
    height: 480px;
    z-index: -1;
}

.mall-slide .slid-content {
    width: 100%;
    height: 320px !important;
    overflow: hidden;
     left : 220px;
     position: absolute;

     top: 400px;
}

.mall-slide .slid-content .mall-carousel-ind {
    position: absolute;
    top: 380px;
    width: 100%;
    line-height: 0!important;
    text-align: center;
    font-size: 0;
    z-index: 10;
}

.mall-carousel-ind ul {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.mall-carousel-ind li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    font-size: 14px;
    background-color: #e2e2e2;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}


  .mall-carousel-ind li.mall-this {
      background-color: #fff;
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      opacity: 1;
      width: 30px;
      border-radius: 14px;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
